.ng-invalid.ng-dirty {
    border-color: red; 
}
.ng-valid.ng-dirty {
    border-color: green; 
}
.thumbnail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.thumbnail:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}
